@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

p{
    color: rgb(28, 28, 28);

font-size: 30px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}