@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

.tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
  }

  
  .wonton{
    background-image: url('image/Rectangle 2 (1).png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width:100%;
    
  }

  .reservation{
    background-image: url('image/Rectangle 2 (2).png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
  }

  .membership{
    background-image: url('image/Rectangle 2 (3).png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
  }

 .container-box{
  width:400px;
  height: 60px;

  display: flex;
  justify-content:space-between;
 ;
 }
  @media screen and (max-width:576px){
      
    .wonton{
      background-image: url('image/Rectangle 2 (1).png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 400px;
      width: auto;
      
    }
    .reservation{
      background-image: url('image/Rectangle 2 (2).png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position:center;
      height: 400px;
      width: auto;
    }
  

  }